name: echo
on:
  workflow_call:
    inputs: 
      title: 
        type: string
      description:
        type: string

jobs:
  echo:
    name: echo input
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: echo "$IN"
        env:
          IN: ${{ toJSON(inputs) }}
