name: Periodic health check
on:
  push:
    branches:
      - health
#  schedule:
#    - cron: '*/15 * * * *'
    
jobs:
  health_check:
    name: Health check
    runs-on: ubuntu-latest
    steps:
    - name: Check the deployed service URL
      uses: jtalk/url-health-check-action@v4
      with:
        url: ${{ vars.APP_URL }}/${{ vars.APP_HEALTH_PATH }}
        follow-redirect: false # Optional, defaults to "false"
        max-attempts: 3 # Optional, defaults to 1
        retry-delay: 15s # Optional, only applicable to max-attempts > 1
        retry-all: false # Optional, defaults to "false"
      