# Full Stack Open exercise 11.5 -
  name: pipeline for fso-pokedex

  on:
    push:
      branches:
        - main
    pull_request:
      branches: [main]
      types: [opened, synchronize]
  
  jobs:
    call-e2e-test:
      uses: ./.github/workflows/playwright.yml
    test:
      name: Lint and test app
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-node@v4
          with:
            node-version: '20'
        - name: Install dependencies
          run: npm install
        - name: Lint
          run: npm run eslint
        - name: Build
          run: npm run build
        - name: Test
          run: npm run test

    deploy:
      if: ${{ github.event_name == 'push' }}
      needs: [test, call-e2e-test]
      name: Deploy app
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - uses: superfly/flyctl-actions/setup-flyctl@master
        - run: flyctl deploy --remote-only
          env:
            FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

    tag_release:
      if: ${{ github.event_name == 'push' }}
      needs: [deploy]
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
          with:
            fetch-depth: "0"
        - name: Bump version and push tag
          uses: anothrNick/github-tag-action@1.75.0
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            DEFAULT_BUMP: patch